# Node.js
node_modules/
src/node_modules/

# Builds
dist/
build/

# Logs
*.log

# Ambiente e variáveis
.env

# Arquivos sensíveis
token.json
src/storage/token.json

# Cache do editor
.vscode/
.idea/

# SOs
.DS_Store
Thumbs.db
